/**
* Text Content
*/

.highlight a,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #cf00cf; 
}

.tags {
    max-width: 65%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.organization a {
    color: #69707a;
}

/**
* Homepage Header
*/

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header figure {
    display: flex;
    align-items: center;
    -webkit-filter: drop-shadow(4px 4px 8px rgba(37, 47, 13, 0.5)) drop-shadow(-4px -4px 4px rgba(234, 255, 182, 0.738));
    -moz-filter: drop-shadow(4px 4px 8px rgba(37, 47, 13, 0.5)) drop-shadow(-4px -4px 4px rgba(234, 255, 182, 0.738));
    -ms-filter: drop-shadow(4px 4px 8px rgba(37, 47, 13, 0.5)) drop-shadow(-4px -4px 4px rgba(234, 255, 182, 0.738));
    -o-filter: drop-shadow(4px 4px 8px rgba(37, 47, 13, 0.5)) drop-shadow(-4px -4px 4px rgba(234, 255, 182, 0.738));
}

.header img {
    mask: url(/mask-circle.svg);
    -webkit-mask-image: url(/mask-circle.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    object-fit: contain;
    height: fit-content;
}

.header .textcontainer {
    grid-column: span 2;
    padding: 1.5em;
}

@media screen and (max-width: 550px) {
    .header figure,
    .header .textcontainer {
        grid-column: span 3;
    }

    .header figure {
        justify-self: center;
    }
}