
body {
  font-family: sans-serif;
  color: #222244;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

.byline {
  font-weight: lighter;
  color: #666699;
  font-style: italic;
  font-size: 14px;
}

.page-header {
  padding: 1em;
}
